option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 5000
    NEODB_URL: neo4j://<to-be-filled>
    NEODB_UNAME: neo4j
    NEODB_PWD: <to-be-filled>
    OPENAI_DEPLOYMENT_NAME: gpt-35-turbo
    OPENAI_BASE_URL: https://rag001.openai.azure.com
    OPENAI_API_KEY: <to-be-filled>
    OPENAI_API_VERSION: 2023-07-01-preview
    S3_ROOT_FOLDER: hv-ragdemo-training-bucket